.header{
  background:  #6f4e37;
  color: Coffee;
  display: flex;
  align-items: center;

}
.text {
  font-size: 20px;
  padding-left: 1px;
  display:flex;
  color: White;
  text-align: center;
}
img {
  padding-height: 1px;
  width: 200px; /* Adjust the width as needed */
   height: auto; /* Maintain aspect ratio */
   margin-right: 20px: /* Adjust the margin to move the logo to the right */
}

body{
margin: 0px;
}



<style>
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo  {
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
  }
</style>